.mat-card-header {
  flex-wrap: wrap;
  background-color: #fafafa;
}

.progress {
  width: 100%;
}

h4 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.mat-button {
  text-transform: uppercase;
}

