<!--<mat-table [dataSource]="dataSource" >-->
<!--<ng-container matColumnDef="student" >-->
<!--<mat-header-cell *matHeaderCellDef >Студент</mat-header-cell>-->
<!--<mat-cell *matCellDef="let element" >{{ element.student }}</mat-cell>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="date" >-->
<!--<mat-header-cell *matHeaderCellDef >Дата</mat-header-cell>-->
<!--<mat-cell *matCellDef="let element" >{{ element.date | date }}</mat-cell>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="time" >-->
<!--<mat-header-cell *matHeaderCellDef >Время</mat-header-cell>-->
<!--<mat-cell *matCellDef="let element" >{{ element.time | number }}</mat-cell>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="dayOfTheWeek" >-->
<!--<mat-header-cell *matHeaderCellDef >День недели</mat-header-cell>-->
<!--<mat-cell *matCellDef="let element" >{{ element.dayOfTheWeek | date }}</mat-cell>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="status" >-->
<!--<mat-header-cell *matHeaderCellDef >Статус</mat-header-cell>-->
<!--<mat-cell *matCellDef="let element" >{{ element.status }}</mat-cell>-->
<!--</ng-container>-->

<!--<mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>-->
<!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->

<!--</mat-table>-->
