<div class="exercise-reference-edit exercise-container">
  <div class="header-section">
    <div class="left">
      <!--<div class="index-label">{{index}}</div>-->
      <div class="exercise-header-text">
        [Режим конструктора]
        <mat-form-field class="header-input">
          <input matInput placeholder="Название упражнения"
                 name="exerciseHeader" [(ngModel)]="data['exerciseHeader']">
        </mat-form-field>
      </div>
    </div>
    <div class="right">
      <mat-icon color="warn" title="Удалить упражнение" class="delete-ex-icon" (click)="removeExercise()">
        delete
      </mat-icon>
    </div>
  </div>
  <div class="content-section">
    <div class="ref-container">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ссылка на внешний ресурс..."
               name="refStr" [(ngModel)]="data['refStr']" (change)="setRefSanitized()">
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
