.exercise-reference-edit {
  .ref-container {
    margin: 10px;
    .example-full-width {
      min-width: 350px;
    }
    button {
      margin-left: 20px;
      height: 40px;
    }
    a {
      //padding-left: 47px;
    }
  }
}
