<div class="user-profile">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form"
            (submit)="onUpdateAdmin()">
        <div class="user_details">
          <div class="user_photo" (click)="pickUserPhoto.click()">
            <img class="imagePreview"
                 [src]="imagePreview"
                 [alt]="form.value.username"
                 *ngIf="imagePreview && imagePreview !== '' && form.get('avatar_img').valid">
          </div>
          <input type="file"
                 #pickUserPhoto
                 [disabled]="!isEditMode"
                 (change)="onImagePicked($event)">
          <!--<div class="profile_info">-->
            <!--<div class="user_name">{{form.get('username').value}}</div>-->
            <!--<div class="profile__row" *ngIf="authService.getRole() === 2">-->
              <!--<div class="list-header">Мои студенты</div>-->
              <!--<div class="list-container">-->
                <!--<div class="list-item" *ngFor="let item of relateList">-->
                  <!--<a [routerLink]="['/dashboard/student-profile/', item.id]" class="name">{{item.name}}</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="profile__row" *ngIf="authService.getRole() === 3">-->
              <!--<div class="list-header">Мои преподаватели</div>-->
              <!--<div class="list-container">-->
                <!--<div class="list-item" *ngFor="let item of relateList">-->
                  <!--<a [routerLink]="['/dashboard/teacher-profile/', item.id]" class="name">{{item.name}}</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="profile_controls" *ngIf="!isEditMode">
            <button mat-icon-button type="button" (click)="enableForm()">
              <mat-icon edit_icons>edit</mat-icon>
            </button>
          </div>
        </div>
        <mat-form-field>
          <mat-icon>person</mat-icon>
          <input
            matInput
            name="username"
            formControlName="username"
            placeholder="Фамилия Имя">
          <mat-error *ngIf="form.get('username').hasError('required')">
            Введите Фамилию Имя длинной 1-50 символов
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon>place</mat-icon>
          <input
            matInput
            name="address"
            formControlName="address"
            placeholder="Город, страна"
          >
        </mat-form-field>
        <mat-form-field>
          <mat-icon>phone</mat-icon>
          <input
            matInput
            name="phone"
            formControlName="phone"
            placeholder="Телефон"
            (keypress)="onPhoneInput($event)"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-icon>work</mat-icon>
          <input
            matInput
            name="activity"
            formControlName="activity"
            placeholder="Род деятельности"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-icon>chat</mat-icon>
          <input
            matInput
            name="skype"
            formControlName="skype"
            placeholder="Skype"
          >
        </mat-form-field>

        <mat-form-field class="emailInput">
          <mat-icon>email</mat-icon>
          <input
            matInput
            name="email"
            formControlName="email"
            placeholder="Эл.почта (Логин)"
            email (change)="emailUsed=false"
          >
          <mat-error *ngIf="form.get('email').invalid && !emailUsed">
            Введите корректный формат эл.почты
          </mat-error>
          <p *ngIf="emailUsed && !form.get('email').invalid" class="emailExist">
            {{ emailUsed }}
            <!--Этот адрес электронной почты уже используется. Попробуйте другой.-->
          </p>
        </mat-form-field>

        <mat-form-field *ngIf="isEditMode">
          <mat-icon>lock</mat-icon>
          <input
            matInput
            name="password"
            formControlName="password"
            placeholder="Пароль"
          >
          <mat-error *ngIf="form.get('password').dirty">
            Для сохранения пароля введите не меньше 8 символов
          </mat-error>
        </mat-form-field>

        <div class="btn-container" *ngIf="isEditMode">
          <button
            mat-raised-button
            class="cancel-btn"
            type="button"
            (click)="cancelEdit()">
            Отмена
          </button>
          <button
            mat-raised-button
            class="save-btn"
            color="primary"
            type="submit"
            [disabled]="form.invalid">
            Сохранить
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!--<pre>-->
<!--{{ form.value | json }}-->
<!--</pre>-->
<!--<pre>-->
<!--{{ teacher | json }}-->
<!--</pre>-->
