<section class="offer" >

    <div class = "title_wrapper">
      <h2 class="title">
        <span>Договор оферты</span>
      </h2>
    </div>

    <p>
        Настоящим онлайн-школа английского языка «Inika» (далее — «Лицензиар») сообщает о своем намерении заключить Лицензионный договор с Конечным Пользователем о предоставлении неисключительного права на использование программного обеспечения Лицензиара на Интернет-сервисе <a href="http://inika-school.com" routerLink="/" (click)="goToTop();" >www.inika-school.com</a>  на условиях настоящего Лицензионного договора с Конечным пользователем (Публичной оферты).
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>1.  Термины и определения</span>
        </h4>
    </div>
    <p>
      1.1  Для целей настоящего Договора перечисленные ниже термины имеют следующие значения (для удобства навигации термины расположены в алфавитном порядке):
    </p>
    <ul class="list">
      <li>1.1.1 Дополнительный функционал Платформы и Сайта Лицензиара — дополнительные возможности Платформы и Сайта, которые могут включать курсы, программы и другие специальные возможности Платформы и Сайта.</li>
      <li>1.1.2  Заключение Лицензионного договора (акцепт публичной оферты) — полное и безоговорочное принятие условий настоящего Лицензионного договора Конечным Пользователем путем совершения Конечным Пользователем одного (или нескольких) из следующих действий:
        <ul class="list ulist">
          <li>прохождение регистрации и/или авторизации на Сайте Лицензиара в установленном им порядке;</li>
          <li>направление запроса на Платформу Лицензиара, либо выполнение Конечным Пользователем иных действий, перечисленных на соответствующей странице Личного кабинета, направленных на получение права на использование Дополнительного функционала Платформы и Сайта на условиях выбранного тарифа и/или тарифного плана;
            </li>
          <li>внесение авансового платежа за предоставление права на использование Дополнительного функционала Платформы и Сайта в сумме тарифа, установленного тарифом и/или тарифным планом на соответствующий Дополнительный функционал;
            </li>
          <li>начало использования Конечным Пользователем Платформы или Сайта в любой иной форме.
            </li>
        </ul>
      </li>
      <li>1.1.3  Конечный Пользователь (Вы) — физическое лицо, заключившее Лицензионный договор (акцепт оферты) с Лицензиаром.</li>
      <li>1.1.4  Лицензионный договор (Договор) — текст настоящего документа со всеми приложениями, изменениями и дополнениями к нему, размещенный на сайте Лицензиара и доступный в сети Интернет по адресу <br> <a href="http://inika-school.com/offer"  routerLink="/offer" (click)="goToTop();" >www.inika-school.com/offer</a>. </li>
      <li>1.1.5  Личный кабинет — web-страница Конечного Пользователя на сайте Лицензиара, доступная после авторизации и содержащая статистическую информацию об объеме использования полученных Конечным Пользователем прав на Платформу и Сайт. Кроме того, на данной странице может осуществляться заключение Лицензионного договора в части получения прав на использование Дополнительного функционала Платформы и Сайта, отказ от них, а также размещаются специальные уведомления Лицензиара, направляемые Конечному Пользователю, если это предусмотрено Правилами использования Платформы и Сайта.</li>
      <li>1.1.6  Платформа Лицензиара — программно-аппаратные средства Лицензиара, интегрированные с Сайтом Лицензиара.</li>
      <li>1.1.7  Правила использования Платформы и Сайта (далее — «Правила»), являющиеся приложением к настоящему Лицензионному договору и определяющие общие условия предоставления права на использование Платформы и Сайта Лицензиара, а также установленные запреты и ограничения ответственности.</li>
      <li>1.1.8  Регламент проведения планово-профилактических работ (Регламент) — внутренний документ Лицензиара, регулирующий проведение планово-профилактических работ, которые могут повлечь перерывы в работе Платформы, Сайта и Дополнительного функционала Платформы и Сайта, и связанные с заменой оборудования, программного обеспечения или проведения других работ, вызванных необходимостью поддержания работоспособности и развития технических средств Лицензиара.</li>
      <li>1.1.9  Сайт Лицензиара — автоматизированная информационная система, доступная в сети Интернет по сетевому адресу <a href="http://inika-school.com" routerLink="/" (click)="goToTop();" >www.inika-school.com</a>.</li>
    </ul>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>2. Предмет Договора</span>
        </h4>
    </div>

    <p>
      2.1  Лицензиар обязуется:
    </p>

    <ul class="list ulist">
      <li>предоставить Конечному Пользователю право на функциональное использование Платформы и Сайта Лицензиара на условиях простой (неисключительной) лицензии в пределах функциональных возможностей Платформы и Сайта Лицензиара, а также право на использование Дополнительного функционала Платформы и Сайта Лицензиара на условиях выбранного тарифа и/или тарифного плана;
        </li>
      <li>обеспечивать работу Платформы и Сайта Лицензиара, оказывать техническую поддержку Конечным Пользователям. Конечный пользователь обязуется принять предоставленное право на использование Платформы и Сайта Лицензиара на указанных условиях, а также право на использование Дополнительного функционала Платформы и Сайта Лицензиара на условиях выбранного тарифа и/или тарифного плана, и выплатить Лицензиару вознаграждение, в случае, если вознаграждение предусмотрено условиями настоящего Договора.
        </li>
    </ul>

    <p>
      2.2  Наименование, состав и объем предоставляемых Конечному Пользователю прав на использование Платформы и Сайта, а также Дополнительного функционала Платформы и Сайта, тарифы и/или тарифные планы для их оплаты и прочие существенные условия Договора определяются в соответствии с Правилами.
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>3. Права и обязанности Сторон</span>
        </h4>
    </div>

    <p>
      3.1  Лицензиар обязуется:
    </p>

    <ul class="list">
      <li>3.1.1  Предоставить Конечному Пользователю право на функциональное использование Платформы и Сайта Лицензиара на условиях простой (неисключительной) лицензии в пределах функциональных возможностей Платформы и Сайта Лицензиара, а также право использования Дополнительного функционала Платформы и Сайта Лицензиара на условиях выбранного тарифа и/или тарифного плана в соответствии с условиями настоящего Лицензионного договора и Правил;
        </li>
      <li>3.1.2  Своевременно предоставлять Конечному Пользователю информацию на сайте об изменении тарифов и/или тарифных планов для оплаты предоставленного права на использование Дополнительного функционала Платформы и Сайта:
        <ul class="list ulist">
          <li>до введения новых тарифов и/или тарифных планов не менее чем за 7 дней;
            </li>
          <li>согласно состояния валютного рынка на текущий период (при резких валютных колебаниях возможны изменения цен без предварительного уведомления).
            </li>
        </ul>
        </li>
      <li>3.1.3  Выполнять иные обязанности, предусмотренные действующим применимым правом, а также настоящим Лицензионным договором и Правилами.</li>
    </ul>

    <p>
      3.2  Лицензиар вправе:
    </p>
    <ul class="list" >
      <li>3.2.1  Расторгнуть Лицензионный договор с Конечным Пользователем или приостановить его действие в случае нарушения Конечным Пользователем требований, предусмотренных настоящим Лицензионным договором, а также в случаях, установленных настоящим Договором и законодательством;
        </li>
      <li>3.2.2  Не предоставлять право на использование Дополнительного функционала Платформы и Сайта до его оплаты, если условиями выбранного Конечным Пользователем тарифа и/или тарифного плана предусмотрена предоплата;
        </li>
      <li>3.2.3  Приостанавливать доступ Конечному Пользователю к Дополнительному функционалу Платформы и Сайта в случае отрицательного баланса по показаниям оборудования, учитывающего объем предоставленных Лицензиаром прав на использование Дополнительного функционала Платформы и Сайта;
        </li>
      <li>3.2.4  Осуществлять ограничение отдельных действий Конечного Пользователя, если такие действия создают угрозу для нормального функционирования Платформы и Сайта Лицензиара;
        </li>
      <li>3.2.5  Производить в соответствии с Регламентом планово-профилактические работы, которые могут повлечь перерывы в работе Платформы и Сайта;
        </li>
      <li>3.2.6  Изменять в одностороннем порядке условия настоящего Лицензионного договора и Правил в установленном порядке;</li>
      <li>3.2.7  Отказаться в одностороннем порядке от исполнения Договора в порядке, предусмотренном применим правом и/или настоящим Лицензионным договором;</li>
      <li>3.2.8  Осуществлять иные права, предусмотренные применимым правом, а также настоящим Лицензионным договором и Правилами.</li>
    </ul>

    <p>
      3.3  Конечный Пользователь обязуется:
    </p>

    <ul class="list">
      <li>3.3.1  Соблюдать установленный настоящим Договором и Правилами порядок использования Платформы и Сайта;
        </li>
      <li>3.3.2  Вносить плату за предоставление права на использование Дополнительного функционала Платформы и Сайта в полном объеме и в сроки, определенные в настоящем Лицензионном договоре;</li>
      <li>3.3.3  Выполнять иные обязанности, предусмотренные применимым правом, а также настоящим Лицензионным договором и Правилами.</li>
    </ul>

    <p>
        3.4  Конечный Пользователь вправе:
    </p>

    <ul class="list">
      <li>3.4.1  Выбирать тарифы и/или тарифный план на использование Дополнительного функционала Платформы и Сайта;</li>
      <li>3.4.2  Отказаться в одностороннем порядке от исполнения Лицензионного договора при условии оплаты полученного права на использование Дополнительного функционала Платформы и Сайта;</li>
      <li>3.4.3  Приостановить пользование правом на Дополнительный функционал Платформы и Сайта путем направления Лицензиару уведомления, если такая возможность предусмотрена выбранным тарифным планом;</li>
      <li>3.4.4  Осуществлять иные права, предусмотренные применимым правом, а также настоящим Лицензионным договором и Правилами.</li>
    </ul>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>4. Вознаграждение за предоставление прав и порядок расчетов</span>
        </h4>
    </div>

    <p>
       4.1 Предоставление Конечному Пользователю права на использование Платформы и Сайта Лицензиара на условиях простой (неисключительной) лицензии в пределах функциональных возможностей Платформы и Сайта Лицензиара осуществляется безвозмездно.
    </p>
    <p>
       4.2  Предоставление Конечному Пользователю права на использование Дополнительного функционала Платформы и Сайта Лицензиара осуществляется на условиях выбранного Конечным Пользователем тарифа и/или тарифного плана в зависимости от наименования, состава, и объема предоставляемых прав. Способ и единица тарификации, указаны в соответствующем утвержденном Лицензиаром тарифе и/или тарифном плане.
    </p>
    <p>
        4.3  Оплата предоставленных прав на использование Дополнительного функционала Платформы и Сайта производится Конечным Пользователем в форме разовых платежей или абонентской платы, в зависимости от выбранного тарифа и/или тарифного плана.
    </p>
    <p>
        4.4  Основанием для осуществления расчетов за использование Дополнительного функционала Платформы и Сайта являются показания оборудования Лицензиара, учитывающего объем предоставленных Конечному Пользователю прав.
    </p>
    <p>
        4.5  Расчеты по Договору осуществляются путем безналичных перечислений на расчетный счет Лицензиара.
    </p>
    <p>
        4.6  Оплата прав на использование Дополнительного функционала Платформы и Сайта осуществляется Конечным Пользователем путем внесения авансовых платежей в порядке, предусмотренном для внесения абонентской платы и поддержания положительного баланса.
    </p>
    <p>
        4.7  В случае несвоевременной оплаты Лицензиар вправе отказаться от предоставления права на использование или приостановить право пользования Дополнительным функционалом Платформы и Сайта по Договору до момента погашения задолженности в полном объеме.
    </p>
    <p>
        4.8  В случае необходимости по запросу конечного пользователя может быть осуществлен возврат денежных средств. Независимо от того, по какому тарифу было выплачено вознаграждение Лицензиару, производится перерасчет фактически оказанных услуг по максимальному тарифу. Права на использование Дополнительного функционала Платформы и Сайта Лицензиара, предоставленные безоплатно, аннулируются. Остаток средств подлежит возврату.
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>5. Ответственность Лицензиара</span>
        </h4>
    </div>

    <p>
      5.1  Права на использование Платформы, Сайта и Дополнительного функционала Платформы и Сайта предоставляются на условиях «как есть», в связи с чем Конечному Пользователю не даются какие-либо гарантии, что Платформа, Сайт и Дополнительный функционал Платформы и Сайта будут соответствовать его требованиям; доступ будет предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Платформы, Сайта и Дополнительного функционала Платформы и Сайта, будут точными и надежными; качество какого-либо продукта, услуги, информации и прочего контента, полученного с использованием Платформы, Сайта и Дополнительного функционала Платформы и Сайта, будут соответствовать вашим ожиданиям; все ошибки в работе Платформы, Сайта и Дополнительного функционала Платформы и Сайта будут исправлены.
    </p>
    <p>
      5.2  Поскольку Платформа, Сайт и Дополнительный функционал Платформы и Сайта находятся на стадии постоянного дополнения и обновления новых функциональных возможностей, наименование и состав предоставляемых функций могут время от времени меняться без предварительного уведомления Конечного Пользователя. Лицензиар вправе по собственному усмотрению прекратить (временно или окончательно) работу каких-либо отдельных функций Платформы, Сайта и Дополнительного функционала Платформы и Сайта без предварительного уведомления конкретного Конечного Пользователя.
    </p>
    <p>
      5.3  Лицензиар не несет ответственности за перерывы в работе Платформы, Сайта и Дополнительного функционала Платформы и Сайта в случае сбоев программного обеспечения или работы оборудования третьих лиц.
    </p>
    <p>
      5.4  Лицензиар не отвечает за приостановление работы Платформы, Сайта и Дополнительного функционала Платформы и Сайта на основании требования компетентного государственного органа.
    </p>
    <p>
      5.5  Лицензиар не несет ответственности за перерывы в доступе и использовании Платформы, Сайта и Дополнительного функционала Платформы и Сайта, связанные с заменой оборудования, программного обеспечения или проведения других работ, вызванных необходимостью поддержания работоспособности и развития технических средств Лицензиара, при условии извещения Конечного Пользователя о перерывах в работе Платформы, Сайта и Дополнительного функционала Платформы и Сайта в соответствии с условиями Регламента.
    </p>
    <p>
      5.6  Лицензиар не несет ответственности за функционирование и доступность отдельных сегментов сети связи. Лицензиар не гарантирует возможность информационного обмена с теми узлами или серверами, которые временно или постоянно недоступны через сеть связи.
    </p>
    <p>
      5.7  Лицензиар не несет ответственности за обеспечение безопасности оборудования и программного обеспечения Конечного Пользователя, используемого для работы с Платформой, Сайтом и Дополнительным функционалом Платформы и Сайта.
    </p>
    <p>
      5.8  Ввиду предоставления права на использование Платформы и Сайта на безвозмездной основе к отношениям сторон в соответствующей части и в связи с ним не применимы положения законодательства о защите прав потребителей.
    </p>
    <p>
      5.9  Лицензиар не несет ответственности за действия Конечного Пользователя в связи с использованием Платформы, Сайта и Дополнительного функционала Платформы и Сайта. Ответственность Лицензиара ограничена в явном виде в соответствии с условиями обязательных для Сторон Правил использования Платформы и Сайта.
    </p>
    <p>
      5.10  Совокупная ответственность Лицензиара по Договору в любом случае ограничивается причиненным Конечному Пользователю документально подтвержденным ущербом на сумму, не превышающую стоимости предоставленных прав, уплаченной за расчетный период, в котором причинен такой ущерб.
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>6. Ответственность Конечного Пользователя</span>
        </h4>
    </div>

    <p>
      6.1  Конечный Пользователь несет ответственность за нарушение своих обязательств по Договору в соответствии с применимым правом, условиями Договора и Правилами.
    </p>
    <p>
      6.2  В случае задержки платежа, либо иного нарушения Конечным Пользователем требований, установленных применимым правом, Договором и Правилами, Лицензиар вправе приостановить в одностороннем порядке предоставление доступа к Платформе, Сайту и Дополнительному функционалу Платформы и Сайта до полного погашения задолженности Конечным Пользователем, либо, соответственно, устранения иных допущенных Конечным Пользователем нарушений. Возобновление предоставления доступа к Платформе, Сайту и Дополнительному функционалу Платформы и Сайта осуществляется Лицензиаром в течение 5 (пяти) рабочих дней с даты исполнения Конечным Пользователем нарушенных обязательств.
    </p>
    <p>
      6.3  В случае неоплаты, неполной или несвоевременной оплаты предоставленного права на использование Дополнительного функционала Платформы и Сайта, Лицензиар вправе потребовать с Конечного Пользователя уплаты пени в размере 0,1% (ноль целых одна десятая процента) от стоимости предоставленных, но неоплаченных, оплаченных не в полном объеме или несвоевременно оплаченных прав на использование Дополнительного функционала Платформы и Сайта за каждый день просрочки оплаты вплоть до дня погашения задолженности. Конечный Пользователь обязан уплатить пеню Лицензиару в течение 5 (пяти) дней с момента предъявления Лицензиаром требования об их уплате.
    </p>
    <p>
      6.4  Сумма пени и убытков может быть удержана Лицензиаром из денежных средств Конечного Пользователя, поступивших в счет оплаты вознаграждения по Договору.
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>7. Обстоятельства непреодолимой силы (форс-мажор)</span>
        </h4>
    </div>

    <p>
      7.1  Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по Договору, вызванное обстоятельствами непреодолимой силы, возникшими после его заключения. К таким обстоятельствам, в частности, Стороны относят: стихийные бедствия; природные и промышленные катастрофы; террористические акты; военные действия; гражданские беспорядки; принятие органами государственной власти или органами местного самоуправления актов, содержащих запреты или ограничения в отношении деятельности Сторон по Договору; иные обстоятельства, которые не могут быть заранее предвидены или предотвращены и делают невозможным исполнение обязательств Сторон по Договору.
    </p>
    <p>
      7.2  При наступлении обстоятельств непреодолимой силы, препятствующих исполнению обязательств по Договору, срок выполнения Сторонами своих обязательств переносится соразмерно времени действия таких обстоятельств, а также времени, требуемого для устранения их последствий, но не более 60 (шестидесяти) календарных дней. В случае, если обстоятельства непреодолимой силы продолжают действовать свыше указанного срока, либо когда при их наступлении обеим Сторонам становится очевидным, что они будут действовать более этого срока, Договор прекращает свое действие.
    </p>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>8. Срок действия, изменение и расторжение Лицензионного договора</span>
        </h4>
    </div>

    <p>
      8.1  Настоящий Лицензионный договор вступает в силу с момента его заключения (см. п. 1.1.2) и действует:
    </p>

    <ul class="list ulist">
      <li>до момента полного исполнения Сторонами обязательств по Договору, заключенному на определенный срок, соответствующий сроку предоставления права на использование Платформы, Сайта и/или Дополнительного функционала Платформы и Сайта;</li>
      <li>до момента расторжения Договора.</li>
    </ul>

    <p>
      8.2  Лицензиар оставляет за собой право внести изменения в условия Договора и/или отозвать Договор в любой момент по своему усмотрению. Сведения об изменении или отзыве Договора доводятся до Конечного Пользователя по выбору Лицензиара посредством размещения на Сайте Лицензиара, публикации в средствах массовой информации, либо путем направления соответствующего уведомления на электронный адрес, указанный Конечным Пользователем при заключении Договора или в ходе его исполнения.
    </p>
    <p>
      8.3  В случае отзыва Договора или внесения изменений в Договор, последние вступают в силу с момента доведения об этом до Конечного Пользователя, если иной срок вступления их в силу не определен Договором или дополнительно при таком сообщении.
    </p>
    <p>
      8.4  Правила утверждаются, дополняются и изменяются Лицензиаром по собственному усмотрению и доводятся до сведения Конечного Пользователя в порядке, предусмотренном для уведомления Конечного Пользователя об изменении Договора, если это не противоречит п.3.1.2. Договора.
    </p>
    <p>
      8.5  Договор может быть расторгнут:
    </p>
    <ul class="list ulist">
      <li>По соглашению Сторон в любое время.</li>
      <li>По инициативе Лицензиара путем одностороннего отказа от его исполнения в случае нарушения Конечным Пользователем обязательств по Договору.
        </li>
      <li>По инициативе любой из Сторон с уведомлением другой Стороны не менее чем за 30 (тридцать) календарных дней.
        </li>
      <li>По иным основаниям, предусмотренным Договором или применимым правом.
        </li>
    </ul>

    <div class = "title_wrapper allign_left">
        <h4 >
          <span>9. Прочие условия</span>
        </h4>
    </div>

    <p>
      9.1  Договор, его заключение и исполнение регулируется действующим законодательством. Все вопросы, не урегулированные Договором или урегулированные не полностью, регулируются в соответствии с материальным правом.
    </p>
    <p>
      9.2  Споры по Договору разрешаются в предварительном претензионном порядке. В случае недостижения Сторонами согласия, споры подлежат рассмотрению в суде по месту нахождения Лицензиара.
    </p>
    <p>
      9.3  Любые уведомления по Договору, если иное не предусмотрено Договором, могут направляться одной Стороной другой Стороне:
    </p>
    <ul class="list ulist">
      <li>по электронной почте</li>
      a) на адрес электронной почты Конечного Пользователя, указанный им при заключении Договора, с адреса электронной почты Лицензиара, в случае, если получателем является Конечный Пользователь
      <br>
      б) на адрес электронной почты Лицензиара с адреса электронной почты Конечного Пользователя, указанного им при заключении Договора;
      <li>направления Конечному Пользователю электронного сообщения в Личном кабинете;</li>
      <li>почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.</li>
    </ul>
    <p>9.4  Настоящим Конечный Пользователь предоставляет Лицензиару письменное согласие на обработку и предоставление сведений о нем (включая персональные данные, полученные при заключении и исполнении Договора) третьим лицам, а также на совершение иных действий по их обработке в течение всего срока действия Договора и 3 (трех) лет по его окончании в соответствии с применимым правом.</p>
    <p>9.5  В случае, если одно или более положений Договора являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Договора, которые остаются в силе.</p>
    <p>
      9.6  Не вступая в противоречие с условиями Договора, Стороны вправе в любое время оформить заключенный Договор в форме письменного документа.
    </p>

  </section>
