.mat-nav-list {
  padding: 0;
}

.mat-line {
  font-size: 15px;
  color: #118AB2;
}

.mat-icon {
  padding: 0;
  width: 18px;
  height: 18px;
  font-size: 18px;
}



.active {
  background-color: #F5F5F5;
}
