<!-- All teachers -->
<mat-card class="all-people">
  <mat-card-header>
    <h1>All students</h1>
    <div class="all-people__actions">
      <button mat-icon-button [matMenuTriggerFor]="studentsFilter">
        <mat-icon>sort</mat-icon>
      </button>
      <mat-menu #studentsFilter="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="studentsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #studentsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content class="all-people__container mat-elevation-z8">

    <div class="row-selected">
      <div class="row-selected__label">1 item selected</div>
      <div class="row-selected__actions">
        <button mat-icon-button [matMenuTriggerFor]="studentsFilter">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="studentsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #studentsMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Student </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Left Lessons </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jan">
        <mat-header-cell *matHeaderCellDef> Jan </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.jan}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> All lessons </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
<!-- / All teachers -->
