<div class="user-profile">
  <button mat-mini-fab [routerLink]="['/dashboard/teachers/']"
          color="primary" class="back-btn">
    <mat-icon title="Назад к с списку преподавателей">
      arrow_back
    </mat-icon>
  </button>
  <mat-tab-group [selectedIndex]="selectedTabIndex">
    <mat-tab label="КАЛЕНДАРЬ" [disabled]="isEditMode">
      <div *ngIf="eventCalendarService.calendarOptions" id="fullCalendar">
        <ng-fullcalendar #ucCalendar class="custom-calendar-styles"
                         (eventClick)="openEditEventDialog($event.detail)"
                         [(eventsModel)]="events"
                         [options]="eventCalendarService.calendarOptions">
        </ng-fullcalendar>
        <div class="calendar-footer">
          <div class="payed-lessons">
          </div>
          <button mat-button *ngIf="authService.getRole() <= 2"
                  class="mat-raised-button create-btn mat-primary"
                  (click)="createEventDialog({})">
            Добавить урок
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="ПРОФИЛЬ">
      <mat-card>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <form
            [formGroup]="form"
            (submit)="onSaveTeacher()">
            <div class="user_details">
              <div
                class="user_photo"
                (click)="pickUserPhoto.click()">
                <img class="imagePreview"
                     [src]="imagePreview"
                     [alt]="form.value.username"
                     *ngIf="imagePreview && imagePreview !== '' && form.get('avatar_img').valid">
              </div>
              <input
                type="file"
                #pickUserPhoto
                [disabled]="!isEditMode"
                (change)="onImagePicked($event)"
              >
              <div class="profile_info">
                <div class="user_name">{{form.get('username').value}}</div>
                <div class="students" *ngIf="isEditMode">
                  <mat-form-field>
                    <mat-select
                      placeholder="Студенты"
                      [formControlName]="'studentsInputField'"
                      name="students"
                      multiple>
                      <mat-option
                        *ngFor="let student of studentsList"
                        [value]="student.id">
                        {{student.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="courses" *ngIf="isEditMode">
                  <mat-form-field>
                    <mat-select
                      placeholder="Курсы"
                      [formControlName]="'coursesInputField'"
                      name="courses"
                      multiple>
                      <mat-option
                        *ngFor="let course of coursesList"
                        [value]="course.id">
                        {{course.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="showStudentsAndCourses" *ngIf="!isEditMode">
                  <div class="students">
                    <p *ngIf="teacher?.students?.length > 0">Студенты</p>
                    <span *ngFor="let student of teacher?.students; let i = index">
                                          {{ i === teacher?.students.length - 1 ? student.name : student.name + ', '}}
                                        </span>
                  </div>
                  <div class="courses">
                    <p *ngIf="teacher?.courses?.length > 0 ">Курсы</p>
                    <span *ngFor="let course of teacher?.courses; let i = index">
                                          {{ i === teacher?.courses.length - 1 ? course.name : course.name + ', ' }}
                                        </span>
                  </div>
                </div>
              </div>
              <div class="profile_controls" *ngIf="authService.getRole() === 1 && !isEditMode">
                <button mat-icon-button type="button" (click)="enableForm()">
                  <mat-icon edit_icons>edit</mat-icon>
                </button>
                <button mat-icon-button type="button" (click)="deleteTeacher()">
                  <mat-icon edit_icons>delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-form-field>
              <mat-icon>person</mat-icon>
              <input
                matInput
                name="username"
                formControlName="username"
                placeholder="Фамилия Имя">
              <mat-error *ngIf="form.get('username').invalid">
                Введите Фамилию Имя длинной 1-50 символов
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-icon>place</mat-icon>
              <input
                matInput
                name="address"
                formControlName="address"
                placeholder="Город, страна"
              >
            </mat-form-field>

            <mat-form-field>
              <mat-icon>work</mat-icon>
              <input
                matInput
                name="activity"
                formControlName="activity"
                placeholder="Род деятельности"
              >
            </mat-form-field>

            <mat-form-field>
              <mat-icon>phone</mat-icon>
              <input
                matInput
                name="phone"
                formControlName="phone"
                placeholder="Телефон"
                (keypress)="onPhoneInput($event)"
              >
            </mat-form-field>

            <mat-form-field>
              <mat-icon>chat</mat-icon>
              <input
                matInput
                name="skype"
                formControlName="skype"
                placeholder="Skype"
              >
            </mat-form-field>

            <mat-form-field class="emailInput">
              <mat-icon>email</mat-icon>
              <input
                matInput
                name="email"
                formControlName="email"
                placeholder="Эл.почта (Логин)"
                email (change)="emailUsed=false"
              >
              <mat-error *ngIf="form.get('email').invalid && !emailUsed">
                Введите корректный формат эл.почты
              </mat-error>
              <p *ngIf="emailUsed && !form.get('email').invalid" class="emailExist">
                {{ emailUsed }}
                <!--Этот адрес электронной почты уже используется. Попробуйте другой.-->
              </p>
            </mat-form-field>

            <div class="btn-container" *ngIf="isEditMode">
              <button
                mat-raised-button
                class="cancel-btn"
                type="button"
                (click)="cancelEdit()">
                Отмена
              </button>
              <button
                mat-raised-button
                class="save-btn"
                color="primary"
                type="submit"
                [disabled]="form.invalid">
                Сохранить
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
<!--<pre>-->
<!--{{ form.value | json }}-->
<!--</pre>-->
<!--<pre>-->
<!--{{ teacher | json }}-->
<!--</pre>-->

