<mat-card class="hometask">
  <mat-card-header>
    <h1>
      <a class="hometask__back" mat-icon-button routerLink=".">
        <mat-icon>arrow_back</mat-icon>
      </a>
      Тема урока
    </h1>
    <p class="hometask__lesson">Lesson #12</p>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Materials">Materials</mat-tab>
      <mat-tab label="Words to lesson">Words to lesson</mat-tab>
      <mat-tab label="Homework">Homework</mat-tab>
      <mat-tab label="Tests">Tests</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
