<!-- Hometasks small -->
<mat-card class="hometasks">
  <mat-card-header>
    <h1>Hometask</h1>
    <a mat-button routerLink=".">All</a>
  </mat-card-header>
  <mat-card-content [style.overflow]="'auto'" [style.height.px]="'324'">
    <mat-list>
      <a mat-list-item href="#" class="lesson">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <h4 mat-line>Тема урока</h4>
        <p mat-line>22.07.12</p>
        <mat-divider [inset]="true"></mat-divider>
      </a>
      <a mat-list-item href="#" class="lesson">
        <mat-icon mat-list-icon>check_box</mat-icon>
        <h4 mat-line>Тема урока</h4>
        <p mat-line>22.07.12</p>
        <mat-divider [inset]="true"></mat-divider>
      </a>
      <a mat-list-item href="#" class="lesson">
        <mat-icon mat-list-icon>check_box</mat-icon>
        <h4 mat-line>Тема урока</h4>
        <p mat-line>22.07.12</p>
        <mat-divider [inset]="true"></mat-divider>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- / Hometasks small -->
