.in-price-calculator {
  &__body {
    display: flex;
    flex-flow: row wrap;
    @media (min-width: 992px) {
      padding-top: 25px;
    }
  }
  &__info {
    position: relative;
    flex: 0 0 100%;
    text-align: center;
    @media (min-width: 992px) {
      flex: 0 0 25%;
      text-align: left;
    }
  }
  &__wrapper {
    display: flex;
    height: 100%;
    flex-flow: row wrap;
    & > * {
      width: 100%;
      &:last-child {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
  &__table {
    flex: 0 0 100%;
    @media (min-width: 992px) {
      flex: 0 0 75%;
    }
  }
}

.in-categories {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  &__item {
    padding: 0 10.25px 25px;
  }
  &__button {
    border-radius: 100px;
    outline: none;
    padding: 8px 12px;
    font-size: 10px;
    @media (min-width: 480px) {
      padding: 10px 15px;
      font-size: 15px;
    }
    @media (min-width: 560px) {
      padding: 24px 42px;
    }
  }
}

.in-courses {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  @media (min-width: 992px) {
    margin: 50px 0 0;
    display: block;
  }
  &__item {
    text-align: left;
    position: relative;
    cursor: pointer;
    padding-left: 16px;
    margin: 0 10px;
    @media (min-width: 560px) {
      margin: 0 25px;
    }
    @media (min-width: 992px) {
      margin: 0;
    }
    &--active {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        background-image: linear-gradient(43deg, #4facfe, #00f2fe);
      }
    }
    & + & {
      @media (min-width: 992px) {
        margin-top: 40px;
      }
    }
  }
  &__title {
    font-family: Rubik;
    font-weight: 500;
    color: #65717d;
    margin: 0;
    max-width: 140px;
    font-size: 10px;
    line-height: 1.2;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.in-currencies-selector {
  list-style-type: none;
  border-radius: 12px;
  border: solid 1px #e6e7e8;
  display: inline-flex;
  @media (min-width: 992px) {
    margin: 120px 0 0;
  }
  &__item {
    &:first-of-type {
      button {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-left: 1px solid #e6e7e8;
      }
    }
    &:last-of-type {
      button {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-right: 1px solid #e6e7e8;
      }
    }
    & + & {
      button {
        border-left: 2px solid #e6e7e8;
      }
    }
  }
  &__button {
    font-family: Rubik;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-align: center;
    color: #b6c0ca;
    box-shadow: none;
    background-color: transparent;
    padding: 9px 12px;
    border: 1px solid #e6e7e8;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    @media (min-width: 560px) {
      padding: 12px 17px;
    }
    &--active {
      background-color: #e6e7e8;
    }
  }
}

.in-discount {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  @media (min-width: 480px) {
    right: 20px;
  }
}

.in-price {
  text-align: left;
  &--total {
    font-size: 10px;
    color: #65717d;
    @media (min-width: 480px) {
      font-size: 15px;
    }
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  &--single {
    font-size: 8px;
    color: #b6c0ca;
    @media (min-width: 480px) {
      font-size: 10px;
    }
    @media (min-width: 768px) {
      font-size: 13px;
    }
  }
}

.in-lessons-count {
  font-weight: 500;
  color: #b6c0ca;
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 15px;
  transform: translateY(-50%);
  @media (min-width: 480px) {
    font-size: 25px;
  }
  @media (min-width: 768px) {
    position: static;
    transform: initial;
    font-size: 42px;
  }
}

.in-wanted-lessons {
  border-radius: 12px;
  border: 1px solid #e6e7e8;
  font-family: Rubik;
  font-weight: 500;
  outline: none;
  padding: 5px 16px;
  color: #b6c0ca;
  font-size: 15px;
  width: 50px;
  padding: 5px;
  @media (min-width: 480px) {
    width: 85px;
    padding: 5px 16px;
    font-size: 25px;
  }
  @media (min-width: 768px) {
    width: 140px;
    height: 58px;
    font-size: 42px;
  }
  &::-webkit-input-placeholder {
    color: #e6e7e8;
    font-size: 42px;
    font-weight: 500;
  }
  &::-moz-placeholder {
    color: #e6e7e8;
    font-size: 42px;
    font-weight: 500;
  }
  &:-ms-input-placeholder {
    color: #e6e7e8;
    font-size: 42px;
    font-weight: 500;
  }
  &:-moz-placeholder {
    color: #e6e7e8;
    font-size: 42px;
    font-weight: 500;
  }
}
