<!-- Courses -->
<div class="courses" >
  <mat-card class="course-card"  [style.background-image]="'url(' + courseCardBgUrl + ')'">
    <h1 class="course-card__title">Course Title</h1>
    <button mat-icon-button [matMenuTriggerFor]="courseMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #courseMenu="matMenu">
      <button mat-menu-item>Unlock for student</button>
    </mat-menu>
  </mat-card>
  <mat-card class="course-card"  [style.background-image]="'url(' + courseCardBgUrl + ')'">
    <h1 class="course-card__title">Course Title</h1>
    <button mat-icon-button [matMenuTriggerFor]="courseMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #courseMenu="matMenu">
      <button mat-menu-item>Unlock for student</button>
    </mat-menu>
  </mat-card>
  <mat-card class="course-card"  [style.background-image]="'url(' + courseCardBgUrl + ')'">
    <h1 class="course-card__title">Course Title</h1>
    <button mat-icon-button [matMenuTriggerFor]="courseMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #courseMenu="matMenu">
      <button mat-menu-item>Unlock for student</button>
    </mat-menu>
  </mat-card>
</div>
<!-- / Courses -->
