<section class="terms_of_use" >

  <div class = "title_wrapper">
    <h2 class="title">
      <span>Правила использования сервиса</span>
    </h2>
  </div>

  <div class = "title_wrapper allign_left">
    <h4 >
      <span>1.  Общие положения</span>
    </h4>
  </div>

<p>
  1.1  Настоящий документ определяет условия и ограничения по использованию Платформы и Сайта.
</p>
<p>
  1.2  Настоящие Правила являются неотъемлемой частью Лицензионного договора (публичной оферты) (далее по тексту — «Договор»),
   размещенного в сети Интернет по адресу <a href="http://inika-school.com/offer" routerLink="/offer" (click)="goToTop();" >www.inika-school.com/offer</a>.
</p>
<p>
  1.3 Термины и определения, применяемые в настоящих Правилах, используются в значении, определяемом в соответствии с текстом Договора.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>2.  Пользуясь Платформой и Сайтом, Вы соглашаетесь с тем, что:</span>
  </h4>
</div>

<p>
  2.1  Вы ознакомились с условиями настоящих Правил и Договора в полном объеме до начала использования Платформы и Сайта.
</p>
<p>
  2.2  Начало использования Вами Платформы и Сайта в любой форме означает, что Вы принимаете все условия настоящих Правил и Договора в полном объеме без каких-либо изъятий и ограничений с Вашей стороны. Использование Платформы и Сайта на иных условиях не допускается.
</p>
<p>
  2.3  Если Вы не согласны с условиями настоящих Правил или Договора или не имеете права на заключение Договора на их основе, Вам следует незамедлительно прекратить любое использование Платформы и Сайта.
</p>
<p>
  2.4  Правила (в том числе любая из их частей) могут быть изменены Лицензиаром без какого-либо специального уведомления. Новая редакция Правил вступает в силу с момента ее размещения на Сайте либо доведения до сведения Конечного Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Правил.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>3.  Общие условия пользования Платформой и Сайтом:</span>
  </h4>
</div>

<p>
  3.1  Использование функциональных возможностей Платформы и Сайта в рамках предоставления права на использование Платформы и Сайта допускается только после прохождения Конечным Пользователем регистрации и авторизации на Сайте Лицензиара.
</p>
<p>
  3.2  Помимо указанного в п.3.1. Правила, зарегистрированному Конечному Пользователю предоставляется доступ к Дополнительному функционалу Платформы и Сайта с момента заключения Договора в этой части.
</p>
<p>
  3.3  Некоторые технические, организационные и коммерческие условия использования Платформы и Сайта, в том числе его функциональных возможностей могут доводиться до сведения Конечных Пользователей путем отдельного размещения на Сайте или путем нотификации Конечных Пользователей.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>4.  Лицензия на использование Сайта и допустимое использование Платформы и Сайта:</span>
  </h4>
</div>

<p>
  4.1  Лицензиар предоставляет зарегистрированному Конечному Пользователю право на функциональное использование Платформы и Сайта Лицензиара на условиях простой (неисключительной) лицензии в пределах функциональных возможностей Платформы и Сайта Лицензиара, а также право на использование Дополнительного функционала Платформы и Сайта Лицензиара на условиях выбранного тарифа и/или тарифного плана.
</p>
<p>
  4.2  Использование Платформы и/или Сайта Лицензиара иными способами, в том числе путем копирования (воспроизведения) размещенного на Сайте Лицензиара Контента, а также входящих в состав Платформы и/или Сайта Лицензиара элементов дизайна, программ для ЭВМ и баз данных, их декомпиляции и модификации, строго запрещены.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>5.  Индивидуальные занятия</span>
  </h4>
</div>

<p>
  5.1  рафик занятий.
</p>
<ul class="list">
  <li>
    5.1.1  Конечный Пользователь и Лицензиар согласовывают график занятий. Согласованное расписание сохраняется за Конечным Пользователем в течение 7 (семи) дней с момента проведения пробного занятия. Если в течение указанного срока Конечный Пользователь не выполнит свои обязанности по оплате, расписание может быть пересмотрено.
  </li>
  <li>
    5.1.2  Одно занятие может длиться 60 (шестьдесят), 90 (девяносто) минут.
  </li>
</ul>
<p>
  5.2  Предоставление услуги
</p>
<ul class="list">
  <li>
    5.2.1  Оказание Услуг осуществляется посредством Интернета, с использованием программного обеспечения, обеспечивающего голосовую и видео связь через Интернет между Конечным Пользователем и Лицензиаром (Skype и другие подобные программы).
  </li>
  <li>
    5.2.2  По объективным причинам, Конечный Пользователь имеет право отменить два занятия в месяц, нажав предварительно (раньше, чем за 10 часов до начала занятия) кнопку «Отмена урока» в личном кабинете, иначе оплачивается половина стоимости занятия. Одно из этих занятий необходимо в обязательном порядке отработать в течение 10 дней. В случае несвоевременного уведомления об отмене (менее, чем за 2 часа), занятие считается состоявшимся и подлежащим оплате в размере 100%.
  </li>
</ul>
<p>
  5.3  Лицензиар может приостановить оказание Услуг Конечному Пользователю с сохранением резервирования графика занятий Конечного Пользователя при соблюдении следующих условий:
</p>
<ul class="list">
  <li>
    5.3.1  Продолжительность перерыва в занятиях должна быть не дольше, чем 14 (четырнадцать) календарных дней;
  </li>
  <li>
    5.3.2  Приостановление оказания Услуг возможно, если с даты окончания предыдущей приостановки прошло не менее 180 (ста восьмидесяти) календарных дней;
  </li>
</ul>
<p>
  5.4  Списание услуги
</p>
<ul class="list">
  <li>
    5.4.1  Если в установленное время Конечный Пользователь недоступен для звонка, Лицензиар в течение 15 минут повторяет попытки связаться с Конечным Пользователем. Если в результате вышеперечисленных процедур связаться с Конечным Пользователем не удается, занятие считается состоявшимся и подлежащим к оплате в размере 100%.
  </li>
  <li>
    5.4.2  Если в установленное время (плюс 15 минут) Конечный Пользователь не получает звонка от Репетитора, он обязан немедленно связаться с Лицензиаром по электронной почте. Занятия, которые не состоялись по вине Лицензиара, переносятся на другое, удобное для Конечного Пользователя время. Если Конечный Пользователь считает, что Репетитор слишком часто переносит занятия, Конечный Пользователь вправе обратиться к Лицензиару с требованием о смене Репетитора.
  </li>
  <li>
    5.4.3  Исполнитель не отвечает за неоказание услуги в связи с отсутствием у Конечного Пользователя необходимого программного обеспечения или технических проблем с Интернетом.
  </li>
</ul>
<p>
  5.5  Стоимость Услуг и порядок расчетов
</p>
<ul class="list">
  <li>
    5.5.1  Оплата Услуг осуществляется на основе стопроцентной предоплаты. В случае отсутствия средств на счету Конечного Пользователя, Репетитор вправе отказать в проведении запланированного занятия.
  </li>
  <li>
    5.5.2  Моментом оплаты считается поступление средств на счет Лицензиара.
  </li>
  <li>
    5.5.3  Конечный Пользователь самостоятельно несет ответственность за правильность производимых им платежей.
  </li>
</ul>
<p>
  5.6  Репетиторы
</p>
<ul class="list">
  <li>
    5.6.1  Если в течение обучения не импонирует Репетитор, Конечный Пользователь имеет право на 15 минутный бесплатный ознакомительный урок с другим Репетитором. Вводный урок предоставляется после запроса Конечного Пользователя направленного методисту, анализа сложившейся ситуации и подбора подходящей кандидатуры Репетитора.
  </li>
  <li>
    5.6.2  Лицензиар вправе заменить Конечному Пользователю Репетитора при наличии для этого уважительных причин (временная нетрудоспособность Репетитора, другие обстоятельства), сообщив об этом Конечному Пользователю по электронной почте.
  </li>
</ul>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>6.  Лицензия на использование пользовательского Контента</span>
  </h4>
</div>
<p>
  6.1  Принимая условия настоящих Правил и Договора, Вы безвозмездно предоставляете Лицензиару простую (неисключительную) лицензию на использование Контента, который Вы добавляете (размещаете или транслируете) на Сайт Лицензиара.
</p>
<p>
  6.2  Указанная простая (неисключительная) лицензия на использование Контента предоставляется Лицензиару одновременно с добавлением Вами Контента на Сайт Лицензиара на весь срок действия исключительных прав на объекты авторских и/или смежных прав, образующих такой Контент, для использования на территории всех стран мира.
</p>
<p>
  6.3  В рамках предоставленной Лицензиару простой (неисключительной) лицензии разрешается использование Контента следующими способами:
</p>
<ul class="list">
  <li>
    6.3.1  воспроизводить Контент, т.е. совершать изготовление одного или более экземпляров Контента в любой материальной форме, а также их запись в память электронного устройства (право на воспроизведение);
  </li>
  <li>
    6.3.2  распространять экземпляры Контента, т.е. предоставлять доступ к воспроизведенному в любой материальной форме Контента, в том числе сетевыми и иными способами, а также путем продажи, проката, сдачи внаем, предоставления взаймы, включая импорт для любой из этих целей (право на распространение);
  </li>
  <li>
    6.3.3  публично показывать Контент (право на публичный показ);
  </li>
  <li>
    6.3.4  сообщать Контент таким образом, при котором любое лицо может иметь доступ к нему в интерактивном режиме из любого места и в любое время по своему выбору (право на доведение до всеобщего сведения);
  </li>
  <li>
    6.3.5  модифицировать Контент, т.е. переделывать или другим образом перерабатывать Контент, включая перевод Контента с одного языка на другой; право переуступить все или часть полученных по прав третьим лицам (право на сублицензирование).
  </li>
</ul>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>7.  Соглашаясь с настоящими Правилами, Вы понимаете и признаете, что:</span>
  </h4>
</div>

<p>
  7.1  Платформа и Сайт предназначены для личных, семейных, домашних и иных, не связанных с осуществлением предпринимательской деятельности, нужд физических лиц. Использование Платформы и Сайта в коммерческих целях не допускается.
</p>
<p>
  7.2  Ввиду предоставления права на использование Платформы и Сайта на безвозмездной основе к отношениям сторон в соответствующей части и в связи с ним не применимы положения Законодательства о защите прав потребителей.
</p>
<p>
  7.3  Права на использование Платформы, Сайта и Дополнительного функционала Платформы и Сайта предоставляются на условиях «как есть», в связи с чем Конечному Пользователю не даются какие-либо гарантии, что Платформа, Сайт и Дополнительный функционал Платформы и Сайта будут соответствовать его требованиям; доступ будет предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием Платформы, Сайта и Дополнительного функционала Платформы и Сайта, будут точными и надежными; качество какого-либо продукта, услуги, информации и прочего контента, полученного с использованием Платформы, Сайта и Дополнительного функционала Платформы и Сайта, будут соответствовать Вашим ожиданиям; все ошибки в работе Платформы, Сайта и Дополнительного функционала Платформы и Сайта будут исправлены.
</p>
<p>
  7.4  Лицензиар никак не связан с Контентом, размещенным (в том числе транслируемым) Конечными Пользователями на персональном Сайте, и не осуществляет проверку содержания, подлинности и безопасности этого Контента либо его компонентов, а равно его соответствия требованиям применимого права, и наличия у Конечных Пользователей необходимого объема прав на его использование.
</p>
<p>
  7.5  В частности Вам запрещается использование Платформы и Сайта для:
</p>
<ul class="list">
  <li>
    7.5.1  размещения и/или распространения контрафактного Контента;
  </li>
  <li>
    7.5.2  размещения и/или распространения Контента порнографического характера, а равно пропаганды порнографии и детской эротики, и рекламы интимных услуг;
  </li>
  <li>
    7.5.3  размещения и/или распространения любой иной запрещенной информации, включая материалы, экстремистского характера, а также направленных на ущемление прав и свобод человека по признакам расовой и национальной принадлежности, вероисповедания, языка и пола, подстрекающие к совершению насильственных действий в отношении человека, либо к бесчеловечному обращению с животными, призывающие к совершению иных противоправных действий, в том числе разъясняющие порядок изготовления и применения оружия, наркотических средств и т.д.;
  </li>
  <li>
    7.5.4  преимущественного или исключительного размещения ссылок на другие сайты;
  </li>
  <li>
    7.5.5  распространения рекламных материалов в личных сообщениях иным Конечным Пользователям без получения их предварительного согласия на их получение (СПАМ);
  </li>
  <li>
    7.5.6  ограничения с помощью пароля или иным способом доступа к страницам и файлам, размещенным на Сайте Лицензиара или транслируемым на него.
  </li>
</ul>

<p>
  7.6  Несмотря на установленный запрет, при использовании Платформы и Сайта Вы можете получить Контент, который можете счесть содержащим информацию оскорбительного или непристойного характера, а также в иной форме нарушающий применимое право и права третьих лиц.
</p>
<p>
  7.7  Всю ответственность за содержание Контента и соответствие его требованиям применимого права несет лицо, создавшее данный Контент и (или) добавившее его на Сайт Лицензиара.
</p>
<p>
  7.8  Вы несете исключительную ответственность за любое нарушение обязательств, установленных настоящими Правилами, Договором и/или применимым правом, а также за все последствия таких нарушений (включая любые убытки или ущерб, которые может понести Лицензиар и иные третьи лица).
</p>
<p>
  7.9  В случае возникновения каких-либо претензий третьих лиц в отношении нарушения любых имущественных и/или личных неимущественных прав третьих лиц, а равно установленных законодательством запретов или ограничений Вы обязаны по требованию Лицензиара пройти официальную идентификацию, предоставив Лицензиару нотариально заверенное обязательство урегулировать возникшие претензии собственными силами и за свой счет с указанием своих паспортных данных.
</p>
<p>
  7.10  Лицензиар оставляет за собой право удалить любой Контент с Сайта либо временно ограничить доступ к нему в одностороннем порядке до получения от Вас указанного в п.10.9. письменного обязательства.
</p>
<p>
  7.11  В случае многократных нарушений условий настоящих Правил, Договора и/или требований законодательства, Лицензиар оставляет за собой право заблокировать Вашу учетную запись (аккаунт) целиком либо ограничить (прекратить) предоставление прав на использование Платформы и Сайта.
</p>
<p>
  7.12  В случае привлечения Лицензиара к ответственности или наложения на него взыскания в связи с допущенными Вами нарушениями прав третьих лиц, а равно установленных законодательством запретов или ограничений, Вы обязаны в полном объеме возместить убытки Лицензиара.
</p>

<p>
  7.13  Лицензиар сохраняет за собой право размещения в специальных блоках на Сайте рекламных материалов и ссылок на другие ресурсы, при этом Лицензиар не несет никакой ответственности за рекламные материалы и доступность таких ресурсов, за их Контент, а также за любые последствия, связанные с использованием данных ресурсов, их Контента или рекламы.
</p>
<p>
  7.14  Лицензиар устраняется от какой бы то ни было ответственности в связи с допущенными Вами нарушениями, а также причинением Вам вреда или убытков при указанных выше обстоятельствах.
</p>
<p>
  7.15  Лицензиар не несет ответственности за использование кем бы то ни было общедоступных персональных данных Конечных Пользователей.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>8.  Вы соглашаетесь получать от Лицензиара на указанный Вами при регистрации электронный адрес информационные электронные сообщения (далее — «нотификаторы») о важных событиях, происходящих в рамках Сайта, на нижеследующих условиях:</span>
  </h4>
</div>

<p>
  8.1  Лицензиар обязуется использовать нотификаторы для информирования Конечного Пользователя о возможностях Платформы и/или Сайта Лицензиара и/или об изменении в его информационных ресурсах.
</p>
<p>
  8.2  Лицензиар может присылать дополнительные сообщения или уведомления, согласие на получение которых Вы выражаете на странице профиля, доступной Вам после авторизации.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>9.  Условия использования персональных данных:</span>
  </h4>
</div>

<p>
  9.1  Присоединяясь к условиям настоящих Правил и Договора, Вы даете согласие на автоматизированную обработку предоставляемых персональных данных в целях заключения Договора между Вами и Лицензиаром, а также его последующего исполнения.
</p>
<p>
  9.2  В случаях, допускаемых функциональными возможностями Платформы и Сайта, Вы самостоятельно определяете степень доступности своих персональных данных иным пользователям Интернет.
</p>
<p>
  9.3  Вы признаете и соглашаетесь, что в случае размещения Вами своих персональных данных с использованием Платформы и Сайта способом, предоставляющим возможность их получения пользователями Интернет, Ваши персональные данные считаются общедоступными. Вы осознаете также, что Ваши персональные данные считаются общедоступными в случаях, когда на них в соответствии с  законами не распространяется требование соблюдения конфиденциальности.
</p>
<p>
  9.4  Вы соглашаетесь на передачу третьим лицам своих персональных данных, которые Вы не делали общедоступными, и которые необходимы для целей исполнения Договора и Правил.
</p>
<p>
  9.5  Конечный пользователь согласен, что его cookies запоминаются на сайте Лицензиара, в том числе третьими лицами, для целей статистики, анализа поведения пользователя на сайте и оптимизации рекламных сообщений.
</p>

<div class = "title_wrapper allign_left">
  <h4 >
    <span>10.  Прочие условия:</span>
  </h4>
</div>

<p>
  10.1  Зарегистрированный Конечный Пользователь самостоятельно определяет условия и порядок использования созданного им аккаунта, которые однако ни при каких условиях не могут противоречить настоящим Правилам и Договору.
</p>
<p>
  10.2  Конечный Пользователь отвечает за сохранение в тайне от третьих лиц своих данных (логина и пароля), используемых для авторизации на Сайте Лицензиара. Все действия, совершенные на Сайте Лицензиара с использованием логина и/или пароля Конечного Пользователя, считаются действиями самого Конечного Пользователя.
</p>
<p>
  10.3  В случае обнаружения нарушения ваших прав и/или интересов с использованием Платформы или Сайта, в том числе незаконных размещением материалов иным Конечным Пользователем, Вам следует сообщить об этом Лицензиару. Для этого Вам необходимо направить Лицензиару уведомление с подробным изложением обстоятельств нарушения и гипертекстовой ссылкой на страницу Сайта, содержащую материалы, которыми нарушаются Ваши права и/или интересы на почтовый адрес: <a href="mailto:inika.school@gmail.com" >inika.school@gmail.com</a>
</p>

</section>
