.in-prices-table {
  padding-top: 0;
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
}

.in-prices-description {
  padding-bottom: 185px;
  @media (max-width: 768px) {
    padding: 0 0 100px;
  }
  &__title {
    padding-left: 26px;
    margin: 30px 0;
    &:before {
      width: 8px;
    }
  }
  &-list {
    padding-left: 30px;
  }
}
