<in-page-banner
        [title]="'Выберите категорию'"
        [description]="'Не надо платить за весь курс английского языка сразу: выбирайте подходящие пакеты занятий по соответствующей цене.'"
></in-page-banner>

<section class="in-section in-prices-table">
    <div class="in-container in-container--small">
        <in-price-calculator></in-price-calculator>
    </div>
</section>

<section class="in-prices-description in-section">
    <div class="in-container in-container--small">
        <div class="in-grid in-grid--more-gutter">
            <div class="in-column-1-2">
                <h2 class="in-prices-description__title in-title in-title--highlighted">
                    <span>Дополнительные бонусы:</span></h2>
                <ul class="in-prices-description-list">
                    <li class="in-prices-description-list__item">
                        <strong>бесплатное пробное занятие (20-30 минут);</strong>
                    </li>
                    <li class="in-prices-description-list__item">
                        бесплатные материалы для обучения;
                    </li>
                    <li class="in-prices-description-list__item">
                        выгодные пакеты занятий;
                    </li>
                </ul>
            </div>
            <div class="in-column-1-2">
                <h2 class="in-prices-description__title in-title in-title--highlighted">
                    <span>Условия сотрудничества</span></h2>
                <ul class="in-prices-description-list">
                    <li class="in-prices-description-list__item">
                        Для занятий у вас должна быть хорошая связь, камера, гарнитура и хорошее настроение=).
                    </li>
                    <li class="in-prices-description-list__item">
                        В случае отмены занятия раньше, чем за 10 часов до начала урока, оплата не взимается.
                        В случае отмены позже, чем за 2 часа, оплачивается полная стоимость
                        урока.
                    </li>
                    <li class="in-prices-description-list__item">
                        В случае технических неполадок (например, проблем со связью, интернетом и т. п.) урок
                        переносится на другое
                        время.
                    </li>
                    <li class="in-prices-description-list__item">
                        Подавая заявку на бесплатный пробный урок, вы даете согласие на обработку своих персональных
                        данных для
                        пополнения базы клиентов.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
