.in-testimonials {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  perspective: 500px;
  perspective-origin: 50% -30%;
  .in-section__title {
    margin-bottom: 50px;
  }
  &__item {
    text-align: center;
    border-radius: 12px;
    padding: 32px 125px 30px;
    background-image: linear-gradient(58deg, #4facfe, #1adbfe 67%, #00f2fe);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
    &:nth-child(1) {
      position: relative;
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 1;
    }
    &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
      z-index: 0;
    }
    &:not(:nth-child(1)) {
      opacity: 0 !important;
    }
  }
  &__image {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ffffff;
    max-width: 150px;
  }
  &__name {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    color: #fffd82;
    margin: 30px 0 8px;
  }
  &__text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0;
  }
  &__video {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 4px;
  }
  &__full {
    margin-top: 30px;
    font-family: Rubik;
    font-size: 15px;
    letter-spacing: -0.1px;
    color: #118ab2;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition: color .15s ease-in;
    padding: 0;
    &:hover {
      color: #00a5b2;
    }
  }
  &__arrow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition: color .15s ease-in;
    &:hover {
      color: #ebebeb;
    }
    &--left {
      left: 50px;
    }
    &--right {
      right: 50px;
    }
  }
  &:hover {
    .in-testimonials__item {
      &:nth-child(2) {
        transform: translate3d(0, -8px, -30px) !important;
        opacity: .75 !important;
      }
      &:nth-child(3) {
        transform: translate3d(0, -16px, -60px) !important;
        opacity: .55 !important;
      }
    }
  }
}

// landscape
@media screen and (min-width: 1024px) and (max-width: 1365px) {

}

// iPad Portrait
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

// mobile screens
@media screen and (min-width: 375px) and (max-width: 767px) {
  .in-testimonials {
    iframe {
      width: 300px;
      height: 200px;
    }
    .in-testimonials__item {
      padding: 15px;
      .in-testimonials__image {

      }
      .in-testimonials__name {
        margin: 10px 0;
      }
      .in-testimonials__text {
        margin: 0 30px;
      }
      .in-testimonials__full {

      }
    }
    .in-testimonials__arrow {
      &.in-testimonials__arrow--left {
        left: 10px;
      }
      &.in-testimonials__arrow--right {
        right: 10px;
      }
    }
  }
}
