<in-page-banner
        [title]="'Наши курсы'"
        [description]="'Наши курсы подойдут как начинающим ( с базовыми знаниями или без), так и опытным студентам, которым нужно улучшить или освежить свои знания!'"
></in-page-banner>
<div class="in-categories">
    <div class="in-container in-container--small">
        <in-courses-list class="in-categories__item" [showHeader]="true" [category]="'basic'"></in-courses-list>
        <in-courses-list class="in-categories__item" [showHeader]="true" [category]="'exams'"></in-courses-list>
        <in-courses-list class="in-categories__item" [showHeader]="true" [category]="'special'"></in-courses-list>
    </div>
</div>
