/* You can add global styles to this file, and also import other style files */
//@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Rubik:300,500,400,700');
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "html-template-clearfix";

*,
*:before,
*:after {
  box-sizing: border-box;
  //font-family: 'Roboto';
  font-style: normal;
  //font-face: local('Roboto'), local('Roboto-Regular'),
  //url('/assets/fonts/roboto-v18-latin-ext_latin-regular.woff2') format('woff2'),
  //url('/assets/fonts/roboto-v18-latin-ext_latin-regular.woff') format('woff');
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;

  &.dialog-login-show {
    overflow-y: hidden !important;
  }
}

.in-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;

  & > [class*='in-column-'] {
    flex: 0 0 100%;
    padding: 0 15px;
    position: relative;
  }

  & > .in-column-1-1 {
    flex: 0 0 100%;
  }

  & > .in-column-1-2 {
    @media (min-width: 768px) {
      flex: 0 0 50%;
    }
  }

  & > .in-column-1-3 {
    @media (min-width: 768px) {
      flex: 0 0 33.33333333%;
    }
  }

  & > .in-column-1-4 {
    @media (min-width: 768px) {
      flex: 0 0 50%;
    }
    @media (min-width: 992px) {
      flex: 0 0 25%;
    }
  }

  &--no-gutter {
    margin: 0;

    & > [class*='in-column-'] {
      padding: 0;
    }
  }

  &--more-gutter {
    margin: 0 -25px;

    & > [class*='in-column-'] {
      padding: 0 25px;
    }
  }
}

.in-center {
  text-align: center;
}

.in-fully-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.in-container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;

  &--small {
    max-width: 1140px;
  }
}

p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #65717d;
}

h1,
h2,
h3,
h4,
h5,
h6,
.in-title {
  font-family: Rubik;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #65717d;
  margin: 20px 0;
}

.in-title {
  margin-bottom: 30px;

  &--highlighted {
    span {
      position: relative;
      padding-left: 16px;
      display: inline-block;
      text-align: left;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        background-image: linear-gradient(43deg, #4facfe, #00f2fe);
      }
    }
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 29px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 23px;
}

.in-sub-title {
  font-family: Rubik;
  font-weight: 300;
  font-size: 20px;
  margin: 15px 0 8px;
  letter-spacing: -0.2px;
  color: #fff;
}

// Forms
.in-form {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__field {
    flex: 0 0 calc(50% - 8px);
    position: relative;
    margin-top: 16px;

    &--big {
      flex: 0 0 100%;
    }
  }

  &__label {
    display: block;
    font-family: Rubik;
    font-size: 13px;
    letter-spacing: -0.1px;
    color: #fff;
    font-weight: 300;
    line-height: 1;
    padding: 1px 0 4px;
  }

  &__input {
    display: block;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #ffffff;
    outline: none;
    padding: 10px;
    color: #fff;
    font-family: Rubik;
    font-size: 13px;

    &.ng-valid.ng-dirty[required],
    &.ng-valid.ng-dirty.required,
    &.ng-valid.ng-dirty.ng-pristine {
      border-color: #42A948;
    }

    &.ng-invalid.ng-touched {
      border-color: #ffa2a2;
    }
  }

  &__alert {
    position: absolute;
    top: 102%;
    left: 0;
    font-family: Rubik;
    font-size: 11px;
    font-style: italic;
    letter-spacing: -0.1px;
    color: #fff;
    font-weight: 300;
    line-height: 1;
    padding: 4px 0 1px;
  }

  &__submit {
    margin-top: 9px;
    display: block;
    width: 100%;
    height: 42px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: none;
    font-family: Rubik;
    font-size: 15px;
    letter-spacing: -0.1px;
    color: #4facfe;
    cursor: pointer;
    padding: 0;
    transition: background-color .15s ease-in;

    &[disabled] {
      cursor: default;
      background-color: rgba(255, 255, 255, .8);
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, .85);
    }
  }

  &__status {
    position: absolute;
    width: 100%;
    top: 105%;
    left: 0;
    font-weight: 300;
    text-align: center;
    font-family: Rubik;
    font-size: 15px;
    letter-spacing: .1px;
    color: #fff;
  }
}

input,
textarea {
  &::-webkit-input-placeholder {
    color: #fff;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: -0.1px;
    font-weight: 300;
    text-align: center;
  }

  &::-moz-placeholder {
    color: #fff;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: -0.1px;
    font-weight: 300;
    text-align: center;
  }

  &:-ms-input-placeholder {
    color: #fff;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: -0.1px;
    font-weight: 300;
    text-align: center;
  }

  &:-moz-placeholder {
    color: #fff;
    font-family: Rubik;
    font-size: 20px;
    letter-spacing: -0.1px;
    font-weight: 300;
    text-align: center;
  }
}

ul {
  font-family: Roboto;
  font-size: 21px;
  line-height: 1.62;
  letter-spacing: -0.3px;
  color: #65717d;
  padding-left: 0;
  font-weight: 300;
}

.in-button {
  border-radius: 6px;
  border: solid 1px #53d8fb;
  font-family: Rubik;
  font-size: 15px;
  letter-spacing: -0.1px;
  color: #53d8fb;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 27px;
  transition: .15s ease-in;
  transition-property: border, background-color, color;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-color: rgba(83, 216, 251, .7);
    color: rgba(83, 216, 251, .7);
  }

  &--accent {
    background-color: rgba(239, 71, 111, 1);
    border-color: rgba(239, 71, 111, 1);
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(239, 71, 111, .7);
      border-color: rgba(239, 71, 111, .7);
      color: #fff;
    }
  }

  &--highlighted {
    border-color: #53d8fb;
    background-color: #53d8fb;
    color: #ffffff;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(83, 216, 251, .7);
      border-color: rgba(83, 216, 251, .7);
      color: #fff;
    }
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.in-slider-nav {
  &__button {
    background-color: #fff;
    box-shadow: none;
    font-size: 27px;
    color: #53d8fb;
    cursor: pointer;
    transition: all .15s ease-in-out;
    border-radius: 50%;
    display: inline-block;
    outline: none;
    height: 48px;
    width: 48px;
    border: 1px solid #53d8fb;
    padding: 0;

    & + & {
      margin-left: 8px;
    }

    &:hover {
      color: #fff;
      background-color: #53d8fb;
    }
  }
}

.in-section {
  padding: 65px 0 0;

  &__title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 42px;
  }
}

.in-table {
  font-family: Rubik;
  color: #65717d;

  &__header {
    @media (max-width: 400px) {
      font-size: 10px;
    }

    .in-table__cell {
      border-bottom: 1px solid #b6c0ca;
    }
  }

  &__body {
    .in-table__cell {
      border-right: 1px solid #b6c0ca;
      border-bottom: 1px solid #e6e7e8;
    }
  }

  &__row {
    display: flex;
  }

  &__cell {
    flex: 0 0 33.3333333%;
    position: relative;
    padding: 5px;
    @media (min-width: 400px) {
      padding: 7px 12px;
    }
    @media (min-width: 768px) {
      padding: 16px 20px;
    }

    &--dark {
      background-color: #e6e7e8;
    }

    &--rounded-top {
      border-right: 1px solid #b6c0ca;

      &:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 12px;
        border-right: none;
      }

      &:nth-child(2) {
        border-top-left-radius: 12px;
      }
    }

    &--left {
      padding-left: 15px;
      @media (min-width: 768px) {
        padding-left: 35px;
      }
    }
  }

  &__parent {
    display: flex;
  }

  &__child {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: center;

    & + & {
      padding-left: 10px;
      @media (min-width: 768px) {
        padding-left: 30px;
      }
    }
  }
}

.in-badge {
  display: inline-block;
  opacity: 0.9;
  background-color: #ef476f;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  font-size: 7px;
  padding: 3px 6px;
  border-radius: 100px;
  @media (min-width: 560px) {
    padding: 5px 10px;
    font-size: 12px;
  }

  &--primary {
    background-image: linear-gradient(-34deg, #4FACFE 0%, #00F2FE 100%);
    border-radius: 100px;
    font-size: 17px;
    letter-spacing: -0.14px;
    line-height: 20px;
    font-family: Rubick, sans-serif;
    font-weight: 500;
  }
}

.in-radio {
  position: relative;
  border-radius: 50%;
  border: 2px solid #b6c0ca;
  width: 14px;
  height: 14px;
  @media (min-width: 480px) {
    width: 24px;
    height: 24px;
    border: 3px solid #b6c0ca;
  }

  &__input {
    display: none;

    &:checked + span {
      visibility: visible;
      opacity: 1;
    }
  }

  span {
    visibility: hidden;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b6c0ca;
    border-radius: 50%;
    @media (min-width: 480px) {
      width: 12px;
      height: 12px;
    }
  }
}

.back-btn {
  position: absolute !important;
  left: 10px;
  top: 30px;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  .mat-icon {
    color: #ffffff !important;
    position: inherit !important;
  }
}

.mat-card-content {
  box-shadow: none;
}

.mat-card-header-text {
  display: none !important;
}

.mat-row {
  &:hover {
    background-color: #E8E8E8;
  }
}

.flex-width-100 {
  flex: 0 0 100px !important;
}

.mat-paginator-container {
  justify-content: left !important;
}

.mat-dialog-title {
  text-align: center;
}

.dialog-message {
  margin-bottom: 20px;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-content {
  min-height: 10vh;
}

.exercise-container {
  .header-section {
    &.drag-styles {
      .left {
        .exercise-header-text {
          //cursor: move;
        }
      }
    }

    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .left {
      .index-label {
        padding: 5px 13px;
        border-radius: 20px;
        background-color: #118AB2;
        color: #ffffff;
        display: inline-block;
      }

      .exercise-header-text {
        //cursor: move;
        display: inline-block;
        font-weight: bold;
        margin-left: 10px;
        font-size: 18px;
      }
    }

    .right {

    }

    .header-input {
      min-width: 500px;
      margin-left: 20px;
    }
  }

  .content-section {
    margin-right: 20px;

    .controls {
      .mat-raised-button {
        margin-top: 10px;
      }
    }
  }

  .mat-divider {
    margin: 20px 0;
    position: relative !important;
  }

  .drags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.user {
      margin: 10px 45px;
    }

    .new-word-input {
      min-width: 200px;
    }

    .add-drag-btn {
      margin: 0 30px 0 10px;
      border-radius: 20px;
      min-width: 55px;
      height: 30px;
    }

    .drag-item {
      background-color: #33cc99;
    }
  }

  .delete-ex-icon {
    cursor: pointer;
    color: #DADADA !important;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-around;
}

.mat-form-field-infix {
  //min-width: 260px !important;
  width: auto !important;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 999999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background-color: rgba(0, 0, 0, 0.2);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.draggable-container .draggable-item,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  transition: opacity 0.4s ease-in-out;
}

.draggable-item {
  //cursor: move;
  //cursor: grab;
  //cursor: -moz-grab;
  //cursor: -webkit-grab;
}

.draggable-container .ex-moved {
  //background-color: #e74c3c;
}

.draggable-container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  //cursor: move;
}

.ui-listbox {
  width: 300px;
  max-height: 150px;
  overflow: auto;

  .ui-widget {
    font-size: 15px;
  }

  .ui-listbox .ui-listbox-item {
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ui-autocomplete {
  .ui-button-icon-only {
    padding: 0.2em;
  }

  .ui-autocomplete-token {
    margin-right: 2px;
    margin-top: 2px;
  }
}

.my-drop-zone {
  border: none;
  width: auto;
  //border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.image-upload-matching {
  max-width: 265px !important;
  text-align: center !important;
  background-color: #f8f8f8;
  border-radius: 5px;
  width: 500px;
}

.image-upload-matching .img-ul-file-upload {
  padding: 0 !important;
}

.image-upload-matching .img-ul-container {
  padding: 0;
}

.image-upload-matching .img-ul-upload {
  background-color: #33cc99 !important;
  margin: 16px !important;
}

.image-upload-matching .img-ul-clear {
  background-color: #979797 !important;
  display: none !important;
}

.image-upload-matching .img-ul-drag-box-msg {
  color: #7e8691 !important;
  display: none !important;
}

.image-upload-matching .img-ul-container {
  background-color: rgba(0, 0, 0, .14) !important;

  .img-ul-image {
    height: 200px;
    margin: 10px 0;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, .12);

    .img-ul-x-mark {
      margin: 0 -2px 0 0;

      .img-ul-close {
        height: 15px;
        position: absolute;
        width: 15px;
        top: 3px;
        right: 0;
      }
    }
  }
}

.drag-item, .drop-item {
  min-width: 50px;
  justify-content: center;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2),
  0 3px 4px 0 rgba(0, 0, 0, .14),
  0 1px 8px 0 rgba(0, 0, 0, .12);

  .mat-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}

#fullCalendar {
  max-width: 900px;

  .fc-day {
    transition: all .3s;
  }

  .fc-day:hover {
    background: #fcf8e3;
  }
}

.add-sentence-btn {
  line-height: 25px !important;
  width: 55px !important;
  max-height: 45px !important;
  margin-left: 17px !important;
  border-radius: 30px !important;

  .mat-icon {
    padding-top: 7px !important;
  }
}

.mat-fab .mat-button-wrapper {
  display: inline !important;
}

.page-crumbs {
  .btn-back {
    background-color: #42A948;
    opacity: 0.8;
    margin-right: 20px !important;

    &:hover {
      opacity: 1;
    }
  }

  .page-label {

  }
}

#fullCalendar {
  margin: 10px auto;
  background-color: #ffffff;
  padding: 20px;

  .custom-calendar-styles {

  }

  .calendar-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;

    .payed-lessons {
      display: flex;
      justify-content: flex-start;

      .text-label {
        font-size: 16px;
        padding-top: 7px;
      }

      .count-label {
        font-size: 24px;
        margin-left: 10px;
        border-bottom: 1px solid #000;
      }

      .count-input {
        width: 65px;
        margin-right: 20px;

        .mat-form-field {
          width: 100%;
          margin: -40px 7px;
          font-size: 24px;
          text-align: right;

          .mat-form-field-infix {
            padding: 20px 0 0 0 !important;
          }
        }
      }

      .edit-count {
        .mat-icon {
          color: #aaa;
          width: 24px;
          height: 24px;
          position: relative;
          left: 0;
          top: 0;
          margin: 0 0 10px 10px;
          cursor: pointer;
        }
      }
    }

    button {

    }
  }
}

.table-link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #00b6f0;
  }
}

.table-row {
  font-size: 14px;
  color: #000000;
}
