<div class="content-group">
  <div class="content-column content-column--big">
    <div class="content-item">
      <mat-card class="content-item__inner">
        <mat-card-content>
          <in-calendar></in-calendar>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content-item">
      <mat-card class="content-item__inner">
        <in-hometasks-card></in-hometasks-card>
      </mat-card>
    </div>
  </div>

  <div class="content-column">
    <div class="content-item">
      <mat-card class="content-item__inner">
        <in-course-progress></in-course-progress>
      </mat-card>
    </div>

    <div class="content-item">
      <mat-card class="content-item__inner">
        <in-vocabulary-card></in-vocabulary-card>
      </mat-card>
    </div>
  </div>
</div>
