<in-page-banner
        [title]="'Свяжитесь с нами'"
        [description]="'Мы с радостью ответим на ваши вопросы по телефону, Skype или электронной почте с 8:00 до 21:00 (по киевскому времени) в любой день недели.'"
></in-page-banner>

<section class="in-contacts">
    <div class="in-container in-container--small">
        <div class="in-grid">
            <div class="in-column-1-3">
                <h4 class="in-contacts__title in-title in-title--highlighted"><span>Телефоны</span></h4>
                <p class="in-contacts__item"><a href="tel:+380957126209">+380955771643</a></p>
                <p class="in-contacts__item"><a href="tel:+380989623292">+380989623292</a></p>
            </div>
            <div class="in-column-1-3">
                <h4 class="in-contacts__title in-title in-title--highlighted"><span>Email</span></h4>
                <p class="in-contacts__item"><a href="mailto:inika.school@gmail.com">inika.school@gmail.com</a></p>
            </div>
            <div class="in-column-1-3">
                <h4 class="in-contacts__title in-title in-title--highlighted"><span>Skype</span></h4>
                <p class="in-contacts__item">live:inika.school</p>
            </div>
        </div>
    </div>
</section>
