.mat-toolbar {
  justify-content: space-between;
  flex-wrap: wrap;

  &_with-tabs {
    height: 180px;
  }

  &__form {
    display: inline-block;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar-nav {
    width: 100%;
  }
}
